mark {
  padding: 2px 4px;
  margin: 2px;
  font-size: 90%;
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  @media print {
    color: #000000;
    background-color: #FFFFFF;
  }
}

.resume-container {
  font-family: 'Roboto', sans-serif;
  line-height: 1.75em;
  font-size: 14px;
  font-weight: 300;
  background-color: #000000;
  // background-color: #E0E0E0; light theme
  // color: #FFFFFFB3;
  color: #FFFFFF;
  @media print {
    background-color: #FFFFFF;
    color: #000000;
  }
}

.resume-main-container {
  background-color: #212121;
  // background-color: #F5F5F5; light theme
  max-width: 675px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.resume-main-container-2 {
  background-color: #303030;
  // background-color: #FAFAFA; light theme
  // border: 10px solid #303030;
  padding: 10px;

  border-radius: 5px;
  margin-top:20px;
  margin-left: 5px;
  margin-right: 5px;
    @media print {
    break-inside: avoid-page;
    }
}

.popup {
  background-color: #424242;
  // background-color: #FFFFFF; light theme
}

.disabled-text {
  color: #FFFFFF80;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  @media print {
    color: #000000;
    background-color: #FFFFFF;
  }
}

h2 {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  @media print {
    color: #000000;
    background-color: #FFFFFF;
  }
}

h3 {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom:20px;
  padding-top: 10px;
  border-bottom: 2px dashed #D8D8D8;
  @media print {
    color: #000000;
    background-color: #FFFFFF;
  }
}

h4 {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  @media print {
    color: #000000;
    background-color: #FFFFFF;
  }
}

hr {
  height: 1px;
  background-color: #D8D8D8;
  border: none;
  width: 100%;
  margin: 0px;
}

a[href] {
  color: #BADDF3;
  @media print {
    color: #000000;
  }
}

a[href]:hover {
  color: #D7EAF9;
  @media print {
    color: #000000;
  }
}

img {
  max-width: 100%;
}

li {
  line-height: 1.5em;
}

@media (min-width: 1921px) {
  body {
    font-size: 18px;
  }
}

//Element.io components
.el-timeline-item__timestamp {
  font-size: 14px;
  color: #BFC0C5;
  @media print {
    color: #000000;
  }
}

.el-card {
  border: 1px;
  background-color: #424242;
  color: #FFFFFF;
  transition: .3s;
  margin-bottom: 10px;
  @media print {
    color: #000000;
    background-color: #FFFFFF;
    break-inside: avoid-page;
    widows: 1;
  }
}

.el-link.el-link--default {
  color: #BADDF3;
  @media print {
    color: #000000;
  }
}

.el-link.el-link--default:hover {
  color: #D7EAF9;
}

ul.icons a:hover {
  background: rgba(0, 0, 0, 0.025);
}

ul.icons li {
  display: inline-block;
  padding-left: 0.75em;
}

ul.icons a {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
  width: 2.75em;
  height: 2.75em;
  line-height: 2.8em;
  text-align: center;
  border: 0;
  box-shadow: none;
  padding:0;
  border-radius: 100%;
  @media print {
    display: initial;
    line-height: 5px;
  }
}

.icons i {
  font-size: 30px;
  line-height: 60px;
  @media print {
    font-size: 15px;
    line-height: 5px;
  }
}

.icons {
  padding: 0;
  font-size: 1em;
  padding-left: 3cm;
  margin-bottom:20px;
  text-align: center;

  @media print {
    padding-left: 2cm;
    margin-bottom:5px;
    text-align: left;
    a:link:after, a:visited:after, a:-webkit-any-link {
        content: " " attr(href) " ";
        text-decoration: none;
    }
  }

  @media screen and (max-width: 768px) {
      padding-left: 0cm;
      margin-right:50px;
  }
}

.header-right {
  text-align: right;
}

.header-left {
  margin-top: 10px;
  @media print {
      margin-top: 0px;
  }
}

.el-avatar {
  margin: 1.25rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  @media screen and (max-width: 420px) {
    margin: 0.75rem;
    height: 80px;
    width: 80px;
    line-height: 80px;
  }
  @media screen and (max-width: 320px) {
    margin: 0.1rem;
    height: 70px;
    width: 70px;
    line-height: 70px;
  }
  @media screen and (max-width: 280px) {
    margin: 0;
    height: 65px;
    width: 65px;
    line-height: 65px;
  }
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
  a:link:after, a:visited:after, a:-webkit-any-link {
    content: " (" attr(href) ") ";
    font-size: 90%;
    text-decoration: none;
  }
  @page { margin: 0.5cm }
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #165C8D
}

.corner-ribbon.sticky{
  position: fixed;
}

.el-footer{
  @media print {
    display: none !important;
  }
  margin: 0 auto;
  padding-top: 10px;

  .gh-button-container {
    a[href] {
      color:  #000000;
    }
  }
}

.resume-exps ul {
  padding-left: 27px;
}

.resume-edus .el-timeline {
  padding-left: 10px;
}
